<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.notadeveloper.app.npa"
          >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.notadeveloper.app.npa.MyApplication"
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.notadeveloper.app.npa.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.notadeveloper.app.npa.LogIn"
            android:theme="@style/AppTheme1">

        </activity>
        <activity android:name="com.notadeveloper.app.npa.MainActivity"/>
        <activity
            android:name="com.notadeveloper.app.npa.PendingAppointments"
            android:label="Pending Assessments"

            android:parentActivityName="com.notadeveloper.app.npa.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notadeveloper.app.npa.MainActivity"/>
        </activity>
        <activity
            android:name="com.notadeveloper.app.npa.QuestionsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.notadeveloper.app.npa.CompletedAppointments"
            android:label="Completed Assessments"

            android:parentActivityName="com.notadeveloper.app.npa.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notadeveloper.app.npa.MainActivity"/>
        </activity>
        <activity
            android:name="com.notadeveloper.app.npa.ResultActivity"
            android:label="@string/title_activity_result"
            android:parentActivityName="com.notadeveloper.app.npa.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notadeveloper.app.npa.MainActivity"/>
        </activity>
        <activity android:name="com.notadeveloper.app.npa.InstructionsActivity"/>

    </application>

</manifest>